<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team TodoList</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div class="container">
      <h1>Team Todo List</h1>

      <!-- Form pour enregistrer les donnes --> 
      <form id="Form" method="post" action="/">
        <input type="text" id="myInput" placeholder="Add your next task...">
        <button type="submit" id="button">Add task</button>
      </form>

      <!-- TODO LIST-->
      <ul id="Liste"></ul>
    </div>  

    <!-- JS Files -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
  </body>

</html>
