
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Real-Time Todo List</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>

    <h1>Ma todolist en temps reel!</h1>

    <ol id="ol">
      <%
      if (taches && taches.length > 0) {
        taches.forEach(function(tache, index) { %>
          <li><a href="/todo/supprimer/<%= index %>">&#10008;</a> <%=  tache %></li>
        <% });
      }
      else { %>
          <h4>Aucune tache pour le moment</h4>
        <% } %>

    </ol>

    <form action="/todo/ajouter/" method="post">Que voulez vous faire?<br/>
      <input type="text" name="tache" id="tache" autofocus />
      <button id="button" type="submit" name="button">Ajouter</button>


    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="/chat.js"></script>
  </body>

</html>
