body{
    background: #191970;
    font-family: tahoma;
    color:  #D3D3D3;
}

h1{
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    color: #D3D3D3;
}

#Form{
    position: relative;
    width: 95%;
    background: #7B68EE;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/*#Liste form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}*/



#myInput[type="text"]{
    width: 67.5%;
    padding: 20px;
    background: rgba(0,0,0,0.2);
    border: 0;
    font-size: 20px;
    color: #D3D3D3;
}

#button{
    padding: 20px;
    width: 29%;
    border: 0;
    box-sizing: border-box;
    float: right;
    background: #191970;
    border: 0;
    color: #D3D3D3;
    cursor: pointer;
    font-size: 20px;
}


#Liste{
    position: relative;
    width: 95%;
    background: #7B68EE;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #778899;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #778899;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #778899;
}